{% extends "base.html" %}
{% load thumbnail %}

{% block tab_name %}projects{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h2>Produtos
                <a class="btn btn-default btn-sm" href="{% url 'projects:project_create' %}"><i class="glyphicon glyphicon-plus"></i> Novo produto</a>
            </h2>
        </div>
    </div>
    <hr>


    <div class="row">
        {% for project in object_list %}
            <div class="col-md-4">
                <div class="project">
                    <div class="row">
                        <div class="col-md-3 project-image">
                            {% if project.image %}
                                <img height="90" width="90" src="{{ project.image|thumbnail_url:'project' }}" class="img-circle img-responsive">
                            {% else %}
                                <img height="90" width="90" src="{{ STATIC_URL }}img/noimage90.png" class="img-circle img-responsive">
                            {% endif %}
                        </div>
                        <div class="col-md-9">
                            <h3>
                                <a href="{% url 'projects:project_detail' project.id %}">{{ project.name }}</a>
                            </h3>
                            <p>
                                <span class="label hub-label-light-gray"><i class="glyphicon glyphicon-user"></i> {{ project.team.name|upper }}</span>
                                <p>{{ project.headline }}</p>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>

    <a class="btn btn-default btn-sm" href="{% url 'projects:project_create' %}"><i class="glyphicon glyphicon-plus"></i> Novo produto</a>
{% endblock content %}
